#header.container.container--header
    header
        .container.container--header
            nav
                a.logo(href='#')
                    svg(width='241px', height='54px')
                        use(xlink:href='#logo')

                    ul.menu
                        mixin menu(href, name)
                            li.menu__item
                                span.menu__btn.menu__btn--active
                                a.menu__link( href=href )= name
                        +menu("#about","About Us")
                        +menu("#projects","Projects")
                        +menu("#news","News")
                        +menu("#contacts","Contact")

                .socials.socials__sm
                    a.socials__link(href='https://www.facebook.com/profile.php?id=100005863362988' target="_blank")
                        i.fab.fa-facebook-f
                    a.socials__link(href='https://twitter.com/multiikii_69' target="_blank")
                        i.fab.fa-twitter
                    a.socials__link(href='https://www.instagram.com/_multikii_/?hl=ru' target="_blank")
                        i.fab.fa-instagram(href='')
section.cover(style='background-image: url(../assets/images/Bg_one.png)')
    .head-slider
        mixin slide
            .slide(class!=attributes.class)
                .slide__titles
                    h1.slide__headline Simple & modern
                    span.slide__footline We make the world's beautiful every day
        +slide(class="brand")
        +slide(class="blue")
        +slide(class="orange")
        +slide(class="violet")
        +slide(class="pink")
    a.scroll(href='#projects')
