section#contacts.contacts
    #map.map
    .contacts__card
        .caption
            h2.caption__title Get in touch
        address.contacts__item
            .address
                span
                    i.fas.fa-map-marker-alt
                    |  91 Nolan Extensions Suite 670
                a(href='tel:+001-356-868-2454')
                    i.fas.fa-phone
                    |  +001 356-868-2454
                a(href='mailto:gahuy93@gmail.com')
                    i.fas.fa-inbox
                    |  gahuy93@gmail.com
                span
                    i.far.fa-clock
                    |  From 07:05AM to 19:30PM
            form.form
                input.form__text(type='text', placeholder='Name', required='')
                input.form__email(type='email', placeholder='Email', required='')
                button.btn submit