section#news.section.section--bg(style='background-image: url(../assets/images/Bg_second.png)')
    .container
        .caption
            h2.caption__title Latest news
        article.news-row
            mixin news_slide 
                article.news
                    .news__wrap
                        img.news__img(src='../assets/images/latest1.png', alt='news')
                    .news__container
                        .news__item
                            a.news__title(href='#') See The Unmatched Beauty Of The Great. Lakes.
                            p
                                | Free directories: directories are perfect for customers that are... searching for a particular topic. What’s great about them is that you only have to post once and they are good for long periods of time. It saves a lot of your time when you don’t have to resubmit your information every week or every month. The bad news is most of your traffic won’t come from here. I still feel it is worth it to get your link out there. Just take one day and set it aside for posting to free directories. You won’t need to do it again for at least 6 months.
                        .news__author.authors
                            .authors__wrap
                                img.authors__img(src='../assets/images/author1.jpg', alt='author')
                            .authors__author
                                h4 Isaac Dunn
                                span 09 Feb 2017
                article.news
                    .news__wrap
                        img.news__img(src='../assets/images/latest2.png', alt='author')
                    .news__container
                        .news__item
                            a.news__title(href='#') Effective Advertising Pointers.
                            p
                                | Having a home based business is a wonderful asset to your life...
                        .news__author.authors
                            .authors__wrap
                                img.authors__img(src='../assets/images/author2.jpg', alt='author')
                            .authors__author
                                h4 Dominic Freeman
                                span 24 Apr 2017
                article.news
                    .news__wrap
                        img.news__img(src='../assets/images/latest3.png', alt='author')
                    .news__container
                        .news__item
                            a.news__title(href='#') Hypnotize Yourself Into The Ghost.
                            p
                                | There are many things that are important to catalog design....
                                | Your images must be sharp and appealing. Your text and even the font you use for the text is important. The cover page design and the design of your catalog’s product pages all play important roles in designing a catalog that will bring in new customers and sales.
                        .news__author.authors
                            .authors__wrap
                                img.authors__img(src='../assets/images/author3.jpg', alt='author')
                            .authors__author
                                h4 Alice Ward
                                span 30 Dec 2017
            +news_slide
            +news_slide
            +news_slide
            +news_slide
    div
        .dots