section#gallery.section
    .container
        .caption
            h2.caption__title Gallery
        .gallery
            .gallery__panoram
                iframe(src='https://www.google.com/maps/embed?pb=!4v1581420946045!6m8!1m7!1sECMumtHdYNudVXP92VjGrQ!2m2!1d40.71123324308392!2d-74.01068789589017!3f314.47341830634696!4f24.742950352658042!5f0.7820865974627469', width='580', height='440', frameborder='0', style='border:0;', allowfullscreen='')
            .gallery__imgs
                .gallery__box
                    img.gallery__image(src='../assets/images/gallery1.png', alt='')
                .gallery__box
                    img.gallery__image(src='../assets/images/gallery2.png', alt='')
                .gallery__box
                    img.gallery__image(src='../assets/images/gallery3.png', alt='')
                .gallery__box
                    img.gallery__image(src='../assets/images/gallery4.png', alt='')
        .btns
            a.btn(href='#' target="_blank") More details