<!DOCTYPE html>
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title Monticello
        link(rel='shortcut icon', type='image/ico', href='../assets/favicon/fav.ico')
        link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.8.2/css/all.css')
        link(rel='stylesheet', href='style.css')
    body
        include header/header.pug
        include project/project.pug
        include news/news.pug
        include gallery/gallery.pug
        include contact/contact.pug
        include footer/footer.pug



        script(src='https://code.jquery.com/jquery-3.4.1.min.js', integrity='sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=', crossorigin='anonymous')
        script(async defer src='https://maps.googleapis.com/maps/api/js?callback=initMap')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js')
        script(src='app.js')