@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i&display=swap');

@font-face {
    font-family: "Gotham Bold";
    src: url("../assets/fonts/gotham_bold/gotham_bold.woff") format("woff");
}

@font-face {
    font-family: "Gotham Book";
    src: url("../assets/fonts/gotham_book/gotham_book.woff") format("woff");
}

@font-face {
    font-family: "Gotham Medium";
    src: url("../assets/fonts/gohtam_medium_regular/gotham_medium_regular.woff") format("woff");
}

@import "scss/mixin.scss";
@import "scss/slick.scss";


$brand-blue:#55b7ff;
$brand-violet:#7e5aff;
$white-text:#fff;
$dark-text:#2c4058;


* {
    box-sizing: border-box;
}

html {
    font: 10px/1.6 'Gotham Book', sans-serif;
    height: 100%;
    scroll-behavior:smooth;
}

body {
    font-size: 1.8rem;
    color: $white-text;
    height: 100%;
    font-weight:300;
    background-color: #5d5d5d;
    margin: 0;
}

header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0;
    width:100%;
    @media screen and (max-width: 780px) {
        justify-content: center;
    }
    
}

.logo {
    @media screen and (max-width: 980px) {
     display: none;
    }
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width:55%;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 1080px) {
        width: 39%;
    }
    @media screen and (max-width: 980px) {
        width: 65%;
    }
    @media screen and (max-width: 780px) {
        width: 80%;
    }
    @media screen and (max-width: 780px) {
        width: 100%;
    }
    &__item{
        display: inline-block;
    }
    &__link{
        text-decoration: none;
        font-size: 1.4rem;
        color:$white-text;
        text-transform: uppercase;
        position: relative;
        @media screen and (max-width: 1080px) {
            font-size: 1rem;
        }
        @media screen and (max-width: 980px) {
            font-size: 1.4rem;
        }
        @media screen and (max-width: 425px) {
            font-size: 1.2rem;
        }
        
    }
    &__btn{
        display: inline-block;
        width:10px;
        height: 10px;
        border:1px solid $white-text;
        border-radius: 10px;
        margin-right: 15px;
        .menu__item:hover > &{
            background-color: $white-text;
            @include tr (all)
        }
        @media screen and (max-width: 1080px) {
            width: 8px;
            height: 8px;
            margin-right: 10px;
        }
        @media screen and (max-width: 980px) {
            width:10px;
            height: 10px;
            margin-right: 15px;
        }
        @media screen and (max-width: 425px) {
            margin-right: 3px;
            width: 8px;
            height: 8px;
        }
        @media screen and (max-width: 469px) {
           display: none;
        }
    }
}

.socials {
    width:15%;
    display: flex;
    justify-content: space-around;
    @media screen and (max-width: 1080px) {
        width: 25%;
    }
    &__sm {
        @media screen and (max-width: 780px) {
            display: none;
        }
    }
    &__link{
        display: inline-block;
        text-decoration: none;
        color:$white-text;
        width:40px;
        height: 40px;
        border:1px solid $white-text;
        border-radius:50%;
        display: flex;
        justify-content: center;
        align-items: center;
        @include hover{
            background-color: #AD98FC;
        }
        @media screen and (max-width: 1080px) {
            width: 30px;
            height: 30px;
        }
    }
        &--footer{
            width:30%;
        }
}

.container {
    max-width:1180px;
    width:90%;
    margin: 0 auto;
    padding: 0;
    height: 100%;
    &--header{
        position: absolute;
        top:0;
        right: 0;
        left: 0;
    }
    &--sm{
        max-width:770px;
        width:90%;
    }
}
.article {
    padding: 70px 0 140px 0;
    color:$dark-text;
    background-color: $white-text;
    overflow: hidden;
}
.section {
    padding: 70px 0 140px 0;
    color:$dark-text;
    background-color: $white-text;
    overflow: hidden;
    &--bg {
        @include backGround;
        color:$white-text;
        .slick-dots {
            display: flex;
            justify-content: center;
            padding: 0;
        }
        li {
            margin:0 20px;
        }
    }
}

.caption{
    text-align: center;
    position: relative;
    z-index: 2;
    &__title {
        text-transform: uppercase;
        font-family: 'Gotham Bold', sans-serif;
        font-size: 4.4rem;
        padding-top: 50px;
        margin: 0;
        @media screen and (max-width: 1080px) {
            font-size: 4rem;
        }
        @media (max-width: 780px){
            font-size: 2.4rem;
        }
        &::before {
            content:'';
            border-top:1px solid;
            width:100px;
            position: absolute;
            left:50%;
            top:25%;
            transform:translate(-50%, -50%);
        }
    }
}

.cover {
    height: 100%;
    position: relative;
    z-index: 1;
    @include backGround;
    .slick-dots{
        position: absolute;
        top:50%;
        right: 0;
        z-index: 2;
        margin-right: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @media (max-width: 780px){
            top:40%;
        }
        @media (max-width: 425px){
            top:35%;
            margin-right: 20px;
        }
    }
}

.slick-dots {
    list-style-type: none;
    button {
        display: inline-block;
        font-size: 0;
        width:15px;
        height:15px;
        background-color: transparent;
        border:1px solid $white-text;
        border-radius:50%;
        cursor:pointer;
        @media screen and (max-width: 425px) {
            width:10px;
            height:10px;
            padding: 3px;
        }
    }
}

.slick-active button {
    background-color: $white-text;
}

.head-slider {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.slide {
    @include backGround;
    min-height: 100vh;
    position: relative;
    &__titles{
        @include posCenter;
        text-align: center;
        text-transform: uppercase;
        height: 10%;
        @media screen and (max-width: 780px) {
            top: 44%;
        }
    }
    &__headline{
        display: inline-block;
        font-size: 8rem;
        font-family:"Gotham Bold", sans-serif;
        height: 13rem;
        overflow: hidden;
        line-height: .8;
        margin: 0;
        @media screen and (max-width: 1080px) {
            font-size: 5rem;
            height: 6rem;
            line-height: .8;
        }
        @media screen and (max-width: 980px) {
            font-size: 5rem;
            height: 10rem;
            line-height: .8;
        }
        @media screen and (max-width: 485px) {
            font-size: 2.9rem;
            height: 2em;
            line-height: .9;
        }
    }
    &__footline{
        display: inline-block;
        height: 5rem;
        overflow: hidden;
        @media screen and (max-width: 1080px) {
            font-size: 2.4rem;
            height: 3rem;
            overflow: visible;
        }
        @media screen and (max-width: 485px) {
            font-size: 1.4rem;
            height: 1rem;
            overflow: visible;
        }
    }
}

.brand {
    background: rgb(33,212,253);
    background: linear-gradient(90deg, rgba(33,212,253,0.5) 0%, rgba(183,33,255,0.5) 100%);
}

.orange {
    background: rgb(245, 68, 24);
    background: linear-gradient(90deg, rgba(255,60,172,0.5) 0%, rgba(224, 24, 24, 0.5) 50%, rgba(128, 6, 6, 0.5) 100%);
}

.blue {
    background: rgb(8,174,234);
    background: linear-gradient(90deg, rgba(5, 54, 71, 0.5) 0%, rgba(42,245,152,0.5) 100%);
}

.violet {
    background: rgb(82,172,255);
    background: linear-gradient(90deg, rgba(194, 24, 171, 0.5) 0%, rgba(95, 8, 88, 0.5) 100%);
}

.pink {
    background: rgb(194, 73, 139);
    background: linear-gradient(90deg, rgba(211, 58, 50, 0.5) 0%, rgba(93, 66, 182, 0.5) 100%);
}

.scroll {
    display: inline-block;
    position: relative;
    border:1px solid $white-text;
    width:40px;
    height: 40px;
    border-radius:50%;
    position: absolute;
    left:50%;
    top:90%;
    transform:translate(-50%, -50%);
    &::after {
        content: "";
        position: absolute;
        top:40%;
        left:40%;
        width: 15%;
        height: 15%;
        border-right: 2px solid $white-text;
        border-top:2px solid $white-text;
        transform: rotate(133deg);
    }
    @include hover {
        background-color: rgba(255, 255, 255, .2);
    }
}

.project {
    padding:100px 0;
    display: flex;
    @media (max-width: 425px){
        flex-direction: column;
        padding: 35px 0;
    }
    &__info {
        padding: 0 70px;
        width:45%;
        @media (max-width: 780px){
            padding: 0 20px;
            width:80%;
        }
        @media (max-width: 425px){
            padding: 0 20px;
            width:100%;
        }
    }
    &__title {
        font-family: 'Gotham Bold', sans-serif;
        font-size: 4.4rem;
        text-transform: uppercase;
        line-height: 1;
        @media screen and (max-width:905px) {
            font-size: 3rem;
        }
    }
    &__subtitle {
        font-size: 2.2rem;
        @media screen and (max-width: 1080px) {
            font-size: 2rem;
        }
    }
    p {
        font-family: 'Open Sans', sans-serif;
        font-size: 1.8rem;
    }
    &--right {
        .project__info {
            order:1;
            @media (max-width: 425px){
                padding: 0 20px;
                width:100%;
            }
        }
        .style {
            order:2;
            &::before {
                background-color: $brand-violet;
                width: 100%;
                height: 93%;
                right:-50%;
                bottom:15%;
                @media screen and (max-width: 780px) {
                    height: 55%;
                    bottom: 45%;
                }
                @media (max-width: 425px){
                   bottom: -30%;
                   height: 100%;
                }
            }
        }
    }
}

.style {
    width: 50%;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        display: block;
        background-color: $brand-blue;
        width: 100%;
        height:100%;
        bottom:10%;
        right:45%;
        @media screen and (max-width: 780px) {
            height: 55%;
            bottom: 45%;
        }
        @media screen and (max-width: 425px) {
            height: 100%;
            bottom: 15%;
            right: -45%;
        }
    }
    &__box {
        padding-top: 80%;
        position: relative;
        overflow: hidden;
    }
    &__img{
        @include posCenter;
        width: 100%;
        height: 100%;
        @media screen and (max-width:905px) {
            top: 80%;
            left: 80%;
            transform: translate(-80%, -80%);
            width: 80%;
            height: 80%;
        }
    }
}

.btn {
    display: inline-block;
    border:1px solid $dark-text;
    padding: 15px 40px;
    margin-top: 30px;
    text-decoration: none;
    text-transform: uppercase;
    color:$dark-text;
    font-size: 1.4rem;
    @include hover{
        background-color: $dark-text;
        color:$white-text;
    }
    @media (max-width: 1080px) {
        padding: 10px 30px;
    }
    @media (max-width: 780px) {
        padding: 9px 20px;
        font-size: 1.2rem;
    }
}

.map-address {
    display: inline-block;
    margin-top: 50px;
    text-decoration: none;
    color:$dark-text;
    font-family: 'Open Sans italic', sans-serif;
    font-weight: 400;
}

.news-row {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
    width:100%;
    .slick-slide {
        margin: 0 15px;
    }
}

.news {
    width:370px;
    background-color: $white-text;
    color:$dark-text;
    position: relative;
    @media (max-width: 425px) {
        width: 320px;
    }
    &__container {
        padding:20px 15px;
    }
    &__wrap {
        max-width:370px;
        position: relative;
        overflow: hidden;
    }
    &__img {
        width:100%
    }
    &__item{}
    &__title {
        display: inline-block;
        font-family: 'Gotham Bold', sans-serif;
        font-size: 2.2rem;
        text-transform: uppercase;
        text-decoration: none;
        color:$dark-text;
        height:6rem;
        overflow: hidden;
        @include hover{
            color:$brand-blue;
        }
        @media (max-width: 425px) {
            font-size: 2rem;
        }
    }
    p {
        margin: 10px 0 15px 0;
        height:8rem;
        overflow: hidden;
    }
}

.authors {
    display: flex;
    &__wrap {
        margin:10px;
        width:60px;
        height: 60px;
    }
    &__img {
         border-radius:50%;
         width:100%;
         overflow: hidden;
    }
    &__author {
        padding: 15px 10px;
        text-align: left;
        
    }
    h4 {
        margin: 0;
        text-transform: uppercase;
        font-size: 1.8rem;
        @media (max-width: 425px) {
            font-size: 1.5rem;
        }
    }
    span {
        font-size: 1.4rem;
        color:#55b7ff;
    }
}

.slick-arrow {
    background-color: transparent;
    width:40px;
    height: 40px;
    font-size: 0;
    border:1px solid $white-text;
    border-radius:50%;
    position: absolute;
    top:50%;
    outline:none;
    @media screen and (max-width: 480px) {
        width: 30px;
        height: 30px;
    }
    &::after {
        content: "";
        position: absolute;
        top:40%;
        left:45%;
        width: 15%;
        height: 15%;
        border-left: 2px solid $white-text;
        border-top:2px solid $white-text;
    }
    @include hover{
        background-color: rgba(255, 255, 255, .2);
    }
}

.slick-prev {
    z-index: 1;
    left: -5%;
    &::after{
        transform:rotate(-45deg);
    }
}

.slick-next {
    right: -5%;
    &::after {
       transform:rotate(135deg);
       left:38%;
    }
}

.gallery {
    display: flex;
    flex-flow:row wrap;
    margin: 85px 0 60px 0;
    iframe {
        @media (max-width: 780px){
            width: 385px;
            height: 314px;
        }
        @media (max-width: 425px){
            width: 285px;
            height: 214px;
        }
    }
    @media (max-width: 1024px) {
        justify-content: center;
        align-items: center;
    }
    @media screen and (max-width: 1080px) {
        justify-content: center;
    }
    &__panoram {
       position: relative;
       &::before {
            content:'';
            background-image: url(../assets/images/360.png);
            position: absolute;
            @include posCenter;
            width:80px;
            height: 80px;
        }
    }
    &__imgs {
        display: flex;
        flex-flow:row wrap;
        justify-content: space-around;
        width:50%;
        @media screen and (max-width: 1080px) {
            flex-wrap: wrap;
            width: 80%;
        }
        @media (max-width: 1024px){
            width:100%;
        }
    }
    &__box {
        width: 285px;
        height: 215px;
        overflow: hidden;
        position: relative;
        @media screen and (max-width: 1080px) {
            margin-top: 9px;
        }
    }
    &__img {
        width:100%;
    }
}

.map {
    height: 700px;
    width:100%;
}

.btns {
    text-align: center;
}

.contacts {
    position: relative;
    z-index: 1;
    &__card {
        width: 770px;
        background-color: #FFF;
        color:$dark-text;
        padding: 30px 60px 60px 60px;
        position: absolute;
        top:85%;
        left: 50%;
        transform:translate(-50%, -50%);
        box-shadow: 0px 0px 15px -6px rgba(0,0,0,0.75);
        @media (max-width: 1080px){
            width: 700px;
        }
        @media (max-width: 780px){
            width: 400px;
            padding: 30px 15px 40px 30px;
        }
        @media (max-width: 425px){
            width: 290px;
            padding: 30px 15px 40px 30px;
        }
    }
    &__item {
        display: flex;
        flex-flow:row wrap;
        justify-content: space-between;
        padding-top: 40px;
        font-style: normal;
    }
}

.address {
    display: flex;
    flex-direction: column;
    span, a {
        margin-top: 25px;
        text-decoration: none;
        color:$dark-text;
        @include hover {
            color:$brand-blue;
        }
        @media (max-width: 425px){
            margin-top: 10px;
        }
    }
  
    i {
        color:$brand-violet;
        font-size: 1.5rem;
    }
}

.form {
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    @media (max-width: 780px){
        width: 100%;
    }
    input {
        border:none;
        border-bottom:1px solid #d5d9de;
        height: 50px;
        width: 100%;
        outline:none;
        &:focus,
        &:active {
            border-bottom:1px solid $dark-text;
            transition:all .4s ease-in;
        }
    }
    button {
        background-color: #FFF;
        width: 140px;
    }
}

.footer {
    position: relative;
    height: 520px;
    @include backGround;
    padding-top:200px;
    &__item {
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: 980px) {
            justify-content: center;
        }
    }
}


.copyrights {
    margin-top: 35px;
    @media screen and (max-width: 980px) {
        text-align: center;
    }
    span:nth-child(even){
        margin: 0 10px;
        &::before {
            content:'';
            padding-right:20px;
            border-left:1px solid;
            width:10%;
        }
    }
}