article#projects.section
            .container
                .caption
                    h2.caption__title
                        | What we do
                .project
                    .style
                        .style__box
                            img.style__img(src='../assets/images/whatwedo1.png', alt='whatWeDo_img')
                    .project__info
                        h3.project__title
                            span.project__subtitle One World
                            br
                            | Trade Center
                        p
                            | Increasing prosperity in our lives can be accomplished by having the right frame of mind. The truth is, our thoughts are very powerful.
                        a.btn(href='#' target="_blank") More details
                        a.map-address(href='https://www.google.com.ua/maps/search/New+York+City,+United+States+-+1776+feet/@40.7144162,-74.0121581,16z', target='_blank')
                            i.fas.fa-map-marker-alt
                            | New York City, United States - 1776 feet
                .project.project--right
                    .style
                        .style__box
                            img.style__img(src='../assets/images/whatwedo2.png', alt='whatWeDo_img')
                    .project__info
                        h3.project__title
                            span.project__subtitle International
                            br
                            | Commerce Centre
                        p
                            | Successful businesses have many things in common, today we’ll look at the big ‘R’ of recognition and how a digital advertising network may help.
                        a.btn(href='#' target="_blank") More details
                        br
                        a.map-address(href='https://www.google.com.ua/maps/place/Гонконг/@22.3529808,113.9876149,11z/data=!3m1!4b1!4m5!3m4!1s0x3403e2eda332980f:0xf08ab3badbeac97c!8m2!3d22.3193039!4d114.1693611', target='_blank')
                            i.fas.fa-map-marker-alt
                            | Hong Kong - 1588 Feet