@mixin backGround {
	background-position:center;
	background-repeat: no-repeat;
	background-size: cover;
}

@mixin tdn() {
	text-decoration: none;
}

@mixin tr($prop) {
	transition: $prop .4s ease-in;
}

@mixin hover() {
	@include tr(all);
	&:hover,
	&:focus,
	&:active,
	&--active {
		@content;
	}
}

@mixin posCenter {
	position: absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%)
}